<% unless object.__name.blank? -%>
## <%= object.__name %>
<% end -%>

<%= available_since(object.__options[:since]) %>


<% if !object.__options[:json].nil? %>
```json
<%=  object.__options[:json] %>
```
<% end %>

<p class='attributes-table-follows'></p>

|Attribute             |Type                   |Description                  |
|----------------------|-----------------------|-----------------------------|
<% object.__properties.each do |property| -%>
| `<%= property.name %>` | <%= describe_property_type(property) %> | <%= describe_property(property) %>  |
<% end -%>
